*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho{
    height: 190px;
    background-image: url(IMG/fundo.jpg);
    background-size: 1800px;
    background-repeat: no-repeat;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
}

#menu{
    height: 1215px;
    width: 300px;
    background-color: #c1f2ba;
    float: left;
    margin-left: 37px;
    margin-top: 5px;
    border-radius: 30px;
}

#conteudo{
    height: 1215px;
    width: 800px;
    background-color: hsl(72, 77%, 91%);
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 30px;
}

#lado{
    height: 1155px;
    width: 238px;
    background-color:  hsl(113, 71%, 84%);
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-block-end: 5px;
    border-radius: 30px;
    padding: 30px;
}

#rodape{
    height: 100px;
    /*width: 300px;*/
    background-color: rgb(205, 255, 192);
    clear: both;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

h4{
    color: green;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
    
}

.verdinho{
    color: green;
}

.espaco{
    width: 760px;
    text-align: center;
    margin-left: 20px;
}

button{
    width: 250px;
    height: 80px;
    border: solid lightgreen;
    border-radius: 50px ;
    background-color: lightgreen;
}

button:hover{
    background-color: green;
}

.frasemotivacional{
    padding: 30px;;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

h5{
    color: green;
}

.Letra{
    text-align: justify;
    text-indent: 0%;
}

#indentacao{
    text-indent: 20px;
}

#novalista{
    text-align: justify;
}

.pequenotitulo{
    font-size: 20px;
    font-style: italic;
}

#outroespaco{
    padding: 50px;
}

.inscrever{
    background-color: #c1f2ba;
    text-align: center;
    padding: 60px;
}

input{
    width: 400px;
    height: 90px;
    border-radius: 20px;
    background-color: rgb(252, 241, 183);
    border: 1px solid green;
}